{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    {% if app.user %}
        <div class="mb-3">
            Vous etes connecté sous {{ app.user.username }} <a href="{{ path('logout') }}">
                <button class="btn btn-primary">Logout</button>
            </a>
        </div>
    {% endif %}
    <div class="container">
        <div class=" row mt-5">
            <div class="col-6 card shadow mx-auto p-3">
                <h4 class="text-center mb-3 font-weight-normal">Merci de vous connecter</h4>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1">Mail</label>
                        <input type="email" name="email" value="{{ last_username }}" class="form-control"
                               id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Nous ne la partagerons pas </small>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1">Mot de passe </label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                               placeholder="Password" autocomplete="current-password">
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">
                    <div class="text-center mb-3">
                        <button type="submit" class="btn btn-primary text-center">connexion</button>
                        <a class="btn btn-dark" href='{{ path("register") }}'>Créer un compte </button> </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}