{% extends 'base.html.twig' %}

{% block title %}SCOUBADOO{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div>
            <h1>Les dernières annonces</h1>
        </div>
        <div class="row">
            {% for advert in advertsHome %}
                <div class="col">
                    <div class="card">
                        {% for picture in advert.getThreePictures() %}
                            <img src="{{ picture.url }}" class="card-img-top" alt="...">
                        {% endfor %}
                        <div class="card-body">
                            <h5 class="card-title">{{ advert.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ advert.creationDate | date }}</h6>
                            <p class="card-text">{{ advert.dogsNb }} chiens à adopter !</p>
                            <div class="card-title">
                                Les races
                            </div>
                            <ul>
                                {% for dog in advert.dogs %}
                                    {% for race in dog.races %}
                                        <li>{{ race.name }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Les éleveurs</h1>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" {% if pagination.isSorted('a.eleveurs') %} class="sorted" {% endif %}>
                {{ knp_pagination_sortable(pagination, 'Eleveurs', 'a.eleveurs') }}</th>
            <th scope="col">Nombre annonces pourvus</th>
            <th scope="col">Nombre annonces non pourvus</th>
        </tr>
        </thead>
        {% for advertiser in advertisers %}
            <tbody>
            <tr>
                <th><a href='{{ path("advertiser_view", {id: advertiser.id}) }}'>{{ advertiser.organizationName }}</a>
                </th>
                {% if advertiser.countAdvertsAvailable >0 %}
                    <td>{{ advertiser.countAdvertsAvailable }}</td>
                {% endif %}
                {% if advertiser.countAdvertsNotAvailable > 0 %}
                    <td>{{ advertiser.countAdvertsNotAvailable }}</td>
                {% endif %}
            </tr>
            </tbody>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

