{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-4">Les dernières annonces</h1>
        </div>
        <div class="row">
            {% for advert in advertsHome %}
                <div class="col-3 mb-4 shadow">
                    <div class="card">
                        <div class="card-header">
                            <div class="small">Crée le {{ advert.creationDate | date }}
                            </div>
                        </div>
                        {% for picture in advert.getThreePictures() %}
                            <img src="{{ picture.url }}" alt="" class="card-img">
                        {% endfor %}

                        <div class="card-title">
                            <h5 class="display-4"> {{ advert.title }}</h5>
                        </div>
                        <div class="card-subtitle">{{ advert.dogsNb }} chiens à adopter !
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Les races</h5>
                            <ul class="list-group list-group-flush lead">
                                {% for dog in advert.dogs %}
                                    {% for race in dog.races %}
                                        <li class="list-group-item"> {{ race.name }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Les éleveurs</h1>
    </div>
    <table class="table">

        <thead>
        <tr>
            <th scope="col">Eleveurs</th>
            <th scope="col">Nombre annonces pourvus</th>
            <th scope="col">Nombre annonces non pourvus</th>
        </tr>
        </thead>
        {% for advertiser in advertisers %}
            <tbody>
            <tr>
                <th><a href='{{ path("advertiser_view", {id: advertiser.id}) }}' >{{ advertiser.organizationName }}</a></th>
                {% if advertiser.countAdvertsAvailable >0 %}
                <td>{{ advertiser.countAdvertsAvailable }}</td>
                {% endif %}
                {% if advertiser.countAdvertsNotAvailable > 0%}
                <td>{{ advertiser.countAdvertsNotAvailable }}</td>
                {% endif %}
            </tr>

            </tbody>
        {% endfor %}
    </table>

{% endblock %}

