{% extends 'base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/style-profile.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="collapse" id="navbarToggleExternalContent">
            <div class=" p-4">

                <div class="card text-center card-infos shadow">
                    <div class="card-header">
                        Mes infos personnelles
                    </div>
                    <div class="card-body">
                        {% if is_granted('ROLE_ADVERTISER') %}
                        <h5 class="card-text"><small>Association :</small> {{ app.user.organizationName }}</h5>
                        <p class="card-text"><small>Nombre d'annonces en lignes: </small>{{ app.user.countAdverts }} annonces en
                            lignes.</p>
                        {% endif %}
                        <p class="card-title"><small>Nom: </small><b>{{ app.user.lastname }}</b></p>
                        <p class="card-title"><small>Prénom: </small><b>{{ app.user.firstname }}</b></p>
                        <p class="card-title"><small>Email: </small><b>{{ app.user.email }}</b></p>
                        <a href="{{ path('adopting_edit', {'id' : app.user.id}) }}" class="btn btn-warning">Modifier mes
                            infos</a>
                    </div>
                    <div class="card-footer text-muted">
                        Compte crée le {{ app.user.registerDate | date }}
                    </div>
                </div>



            </div>
        </div>
        <nav class="navbar navbar-dark ">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" title="Voir mes informations"></span>
                </button>
            </div>
        </nav>
        <div class="row">

        </div>

        <div class="d-flex justify-content-around">

                <div class="jumbotron">
                    <div class="d-flex {% if is_granted('ROLE_ADOPTING') %}justify-content-between  {% endif %}{% if is_granted('ROLE_ADVERTISER') %}flex-column {% endif %}">

                        <h1 class="display-4">Mes demandes d'adoptions</h1>
                        <div class="request-count">
                            {% if is_granted('ROLE_ADOPTING') %}
                            <span class="badge badge-warning">{{ app.user.adoptingRequests.count }}</span>
                        </div>
                    </div>
                    <div class="row">
                        {{ app.user.adoptingRequests.count == 0 ? 'Vous n\'avez faite encore aucune demande d\'adoption' }}
                        {% for adoptingRequest in app.user.adoptingRequests %}

                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ adoptingRequest.advert.title }}</h5>
                                        <p class="card-subtitle text-muted">Association: <b>{{ adoptingRequest.advert.advertiser.getOrganizationName() }}</b></p>
                                        <h5 class="card-title">🐕</h5>
                                        <ul class="list-group list-group-flush ">
                                            {% for dog in adoptingRequest.dogs %}
                                                <li class="list-group-item lead">{{ dog.name }} 🐾   {% for race in dog.races %}
                                                        <small>{{ race.name}}</small>
                                                    {% endfor %} </li>

                                                <li class="list-group-item ">{{ dog.sociable == 0 ? 'Non-sociable': 'Accepte les autres animaux' }}   </li>
                                                <li class="list-group-item ">{{ dog.lof == 0 ? 'Race non-homologué': 'Race homologué' }}   </li>

                                            {% endfor %}
                                        </ul>

                                        <div class="card-footer row justify-content-between">

                                            <a class="btn btn-outline-primary " href="{{ path('discussions', {'id':adoptingRequest.id}) }}" role="button">voir mes messages</a>
                                            <a href="{{ path('advert', {'slug' : adoptingRequest.advert.slug}) }}"
                                               title="Voir l'annonce en détail" class="btn btn-outline-info">En savoir plus</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if is_granted('ROLE_ADVERTISER') %}
                        {% for advert in app.user.adverts %}
                            <table class="table table-striped table-hover">
                                <thead>

                                <tr>
                                    <th scope="col">Annonce</th>
                                    <th scope="col">Adoptant</th>
                                    <th scope="col">Chien(s)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for request in advert.adoptingRequests %}
                                <tr>
                                    <td>{{ advert.title }}</td>
                                    <td>{{ request.adopting.lastname }} {{ request.adopting.firstname }}</td>
                                {% for dog in request.dogs %}
                                    <td>{{ dog.name}} </td>
                                    {% endfor %}
                                    <td colspan="2"> <a href="{{ path('discussions', {'id':request.id}) }}" class="btn btn-outline-dark">Voir les messages</a></td>
                                </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>



            </div>
    {% if is_granted('ROLE_ADVERTISER') %}
    <div class="jumbotron">
        <div class="d-flex flex-column">

            <h1 class="display-4">Mes annonces</h1>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Titre de l'annonce</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for advert in app.user.adverts %}
                <tr>
                    <td>{{ advert.title }}</td>
                    <td>{{ advert.creationDate | date}}</td>
                    <td>{{ advert.status == 0 ? 'Pourvu' : 'A pourvoir' }}</td>
                    <td><a href="{{ path('advert', {'slug' : advert.slug}) }}" class="btn btn-outline-secondary">Voir l'annonce</a></td>
                    <td> <a href="{{ path('edit-advert', {'slug' : advert.slug}) }}" class="card-link btn btn-outline-warning" >Modifier l'annonce📝</a></td>
                     <td> <a href="{{ path('remove-advert', {'slug': advert.slug}) }}" class="card-link btn btn-outline-danger">Supprimer l'annonce🗑️</a></td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
