{% extends 'base.html.twig' %}

{% block title %}Détails {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">Mes infos</h5>
            <p class="card-text"><small class="text-muted">Compte crée le {{ app.user.registerDate | date }}</small></p>
            <div class="card-body">
                {% if is_granted('ROLE_ADVERTISER') %}
                    <h5 class="card-title">Organisation</h5>
                    <p>{{ app.user.organizationName }}</p>
                    <p>{{ app.user.countAdverts }} annonces en
                        lignes</p>
                {% endif %}
                <h5 class="card-title">Nom</h5>
                <p class="card-text">{{ app.user.lastname }}</p>
                <h5 class="card-title">Prénom</h5>
                <p class="card-text">{{ app.user.firstname }}</p>
                <h5 class="card-title">Email</h5>
                <p class="card-text">{{ app.user.email }}</p>
                <a href="{{ path('adopting_edit', {'id' : app.user.id}) }}" class="btn btn-warning">Modifier mes
                    infos</a>
            </div>
        </div>

        {% if is_granted('ROLE_ADVERTISER') %}
            <h2>Mes annonces</h2>
            <table class="table table-striped table-hover">
                <thead>
                {% for advert in app.user.adverts %}
                <tr>
                    <th scope="col">Titre de l'annonce</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Statut</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ advert.title }}</td>
                    <td>{{ advert.creationDate | date}}</td>
                    <td>{{ advert.status }}</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}