{% extends 'base.html.twig' %}

{% block title %}Ajout d'une nouvelle annonce{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="display-4">Mes annonces</h1>
        <div class="row">

            {% for advert in advertiser.adverts %}
            <div class="col-3 mb-4 shadow">
                <div class="card">
                    <div class="small">Crée le {{ advert.creationDate | date }}</div>
                </div>
                <img src="{{ advert.urlPicture }}" alt="" class="card-img">
                <div class="card-title">
                    <h5 class="display-4"> {{ advert.title }}</h5>
                </div>
                <div class="card-subtitle">{{ advert.dogsNb }} chiens à adopter !</div>
                <div class="card-body">
                    <p class="card-text">{{ advert.description }}</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Les toutous 🐾</h5>
                    <ul class="list-group list-group-flush lead">
                        {% for dog in advert.dogs %}
                            <li class="list-group-item"> 🐕{{ dog.name }}</li>

                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="small">
                        Statut: {{ advert.status == 0 ? 'Chiens tous adoptés' : ' Cherche une famille aimante' }}
                    </div>
                    <div class="text"><a href="{{ path('advert', {'slug' : advert.slug}) }}"
                                         title="Voir l'annonce en détail">En savoir plus</a></div>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>


    </div>




{% endblock %}