{% extends 'base.html.twig' %}

{% block title %}Nos annonces{% endblock %}

    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('assets/css/style-adverts.css') }}">
    {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div>
            <h1 class="display-4">Nos Scoub'Annonces</h1>
            {% if is_granted("ROLE_ADVERTISER") %}
                <a class="btn btn-primary btn-lg" href="{{ path('add-advert') }}" role="button">Créer une nouvelle
                    annonce</a>
            {% endif %}
        </div>
        <div class="container-fluid ">
            {% for advert in adverts %}
                <div class="row mb-5 d-flex justify-content-around mt-5">

                    <div class="col-sm-6">
                        <div class="card h-100">
                            <div class="card-header">{{ advert.title }} </div>
                            <img src="{{ advert.urlPicture }}" alt="" class="img-dogs">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card card-content h-100">
                            <div class="card-header">
                                Organisation annonciatrice: <b>{{ advert.advertiser.organizationName }}</b>
                                <div class="small">Crée le {{ advert.creationDate | date }}</div>
                            </div>
                            <div class="card-body">
                                <p class="card-text lead">{{ advert.description }}</p>
                                <h5 class="card-title display-4">Les toutous 🐾 </h5>
                                <div class="card-subtitle text-muted">{{ advert.dogsNb }} chiens à adopter !</div>
                                <ul class="list-group list-group-flush lead">
                                    {% for dog in advert.dogs %}
                                        <li class="list-group-item"> 🐕{{ dog.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="small">
                                    Statut: {{ advert.status == 0 ? 'Chiens tous adoptés' : ' Cherche une famille aimante' }}
                                </div>
                                <div class="text">
                                    <a href="{{ path('advert', {'slug' : advert.slug}) }}"
                                       title="Voir l'annonce en détail" class="btn btn-outline-info">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ knp_pagination_render(adverts) }}
{% endblock %}
