{% extends 'base.html.twig' %}

{% block title %}{{ advert.title }}{% endblock %}

{% block body %}

      <div class="jumbotron jumbotron-fluid">
            <div class="container">
                  <h1 class="display-4">{{ advert.title }}</h1>
                  <small>De <b>{{ advert.advertiser.organizationName }}</b></small>
                  <p class="lead">{{ advert.description }}</p>
                  <img src="{{ advert.urlPicture }}" class="card-img-top" alt="...">

            </div>
      </div>

      <div class="container-fluid">
            {% for dog in advert.dogs%}
            <div class="card mb-3 col-7 m-auto" >
                  <h1 class="display-4 m-auto pt-4 pb-4">🐕{{dog.name }}</h1>
                  {% for picture in dog.urlPictures %}
                  <img src="{{ picture.url }}" class="card-img-top img-fluid m-auto" alt="..." style="width: 50rem;">
                  {% endfor %}
                  <div class="card-body">

                        {% for race in dog.races %}
                        <h6 class="card-subtitle mb-2 text-muted">{{race.name }}</h6>
                        {% endfor %}
                        <p class="card-text">TODO -> set description complète (texte descriptif du chien et de son comportement) dans fixtures</p>
                        <ul class="list-group list-group-flush">
                              <li class="list-group-item"><b>Antécédents: </b>{{ dog.antecedents }}</li>
                              <li class="list-group-item"><b>L.O.F.:</b> {{ dog.lof == true ? 'L.O.F.' : 'Chien de race non-homologué' }}</li>
                              <li class="list-group-item"><b>Sociabilité: </b>{{ dog.sociable == true ? 'Accepte les autres animaux' : 'Aime être la seule bête à poile à la maison' }}</li>
                              <li class="list-group-item"><b>Statut d'adoption: </b>{{ dog.isAdopted == true ? 'Adopté' : 'Cherche encore une famille' }}</li>
                              {% if dog.adoptingRequests|length > 0 %}
                                    {% for adoptingRequest in dog.adoptingRequests %}
                                    <li class="list-group-item"><b>Demande d'adoptions: </b>{{dump(adoptingRequest)  }}</li>
                                    {% endfor %}
                              {% else %}
                                          <li class="list-group-item"><b>Demande d'adoptions: </b>Aucune demandes d'adoption n'a encore été effectué.</li>
                              {% endif %}

                        </ul>
                              {% if dog.isAdopted == 0 %}
                              <a href="{{ path('adopting_request', {id: advert.id}) }}"  class="card-link btn btn-outline-success">Envoyer une demande d'adoption 🖋️</a>
                              {% else %}
                                    <button  class="card-link btn btn-outline-dark" disabled>Envoyer une demande d'adoption</button>
                              {% endif %}
                              {% if is_granted('ROLE_ADVERTISER') %}
                              <a href="{{ path('edit-advert', {'slug' : advert.slug}) }}" class="card-link btn btn-outline-warning" >Modifier l'annonce📝</a>
                              <a href="{{ path('remove-advert', {'slug': advert.slug}) }}" class="card-link btn btn-outline-danger">Supprimer l'annonce🗑️</a>
                              {% endif %}
                  </div>
            </div>
            {% endfor %}




      </div>


{% endblock %}